@{
    ViewBag.Title = "Inicio";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Descubre una forma fácil y eficiente de gestionar tu colección de libros. En nuestra plataforma podrás:

        Registrar tus libros favoritos con toda su información.
        Editar detalles en cualquier momento para mantener tu biblioteca actualizada.
        Eliminar libros que ya no necesites.
        Organizar y administrar toda tu colección de manera profesional.
        Ya sea que seas un lector apasionado o simplemente quieras llevar un control más organizado de tus libros, nuestra biblioteca online está diseñada para ti.

        Empieza hoy mismo a construir tu colección personalizada y disfruta de una experiencia ágil y moderna.
    </p>
</main>